.TodoSearch{
    background: #F9FBFC;
    border-radius: 2px;
    margin: 0 24px;
    height: 36px;
    width: calc(100% - 62px);
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #1e1e1f;
    border-radius: 12px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.TodoSearch::placeholder{
    color: #5c5d6d;
    font-family: 'Montserrat';
    font-weight: 400;
}

.TodoSearch:focus{
    outline: none;
    outline-color: rgb(81, 132, 243);
}